@import url("variables.css");

@font-face {
    font-family: LatoBlack;
    src: url(./fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(./fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(./fonts/Lato/Lato-Light.ttf);
}


*{
    margin: 0;
   padding: 0;
   font-family: LatoRegular;
}

body{
    background-color: var(--red);
    color: var(--black);
    
    
}

h1, h2, h3, h4{
    font-family: LatoBold;
    color: var(--black);
    font-weight: 800;
}

h2{
    font-size: 32px;
}

p{
    font-size: 20px;
}

section{
    margin: 4rem 0;
    padding: 0 4rem;
}

footer{
    background-color: var(--black);
    color: var(--white);
}

ul{
    list-style:none;
}


@media (max-width: 500px) {

    section{
        padding: 0 1rem;
    }

    p{
        font-size: 15px;
    }

}