.headerContainer{
    background-color: var(--black);
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10; 
}

.nav_container{
    margin: auto;
}

.navigationElement, .navigationElementMovil{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 2rem;
    font-family: spicyRice;
    color: var(--white);
}

.logo_container{
    position: relative;
    height: 75px;
    width: 300px ;
}

.openMenu{
    display: none;
}

.navContainerMovil{
    
    position: absolute;
    top: 80px;
    height: 100svh;
    width: 100%;
    background: rgba(9, 9, 9, .9)
}

.navigationElementMovil{
    margin: 10px 2rem;
}

.navContainerMovilList{
    display: flex;
    flex-direction: column;
}

.buttonOpenMenu{
    background-color: transparent;
    border: none;
    display: none;
    position: relative;
}

@media (max-width: 1000px) {

    .logo_container{
        height: 50px;
    }

    .nav_container{
        display: none;
    }

    .headerContainer{
        height: 50px;
    }

    .buttonOpenMenu{
        display: flex;
    }

}
