.textContainer{
    /* background-color: var(--white); */
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.textContainer p{
    margin: 1rem 0;
    color: var(--white);
}

.imageContainer{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem auto;
}

@media (max-width: 500px) {

    .imageContainer{
        width:15rem;
    height: 15rem;
    }

    .textContainer{
        padding: 0.5rem 0.5rem;
        margin: 0.5rem 0;
    }
}