.membersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.member{
    
   display: flex;
   flex-direction: column;
   margin: 1rem;
}

.memberImage{
    position: relative;
    height: 200px;
}

@media (max-width: 1000px) {
    .membersContainer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 500px) {
    .membersContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}