.container{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;

}
.textContainer{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    width: 50%;
}

.title{
    font-family: LatoBlack;
    margin: 20px 0;
    font-weight: 800;
    font-size: 18px;
}

.text{
    font-family: LatoLight;
    font-size: 20px;
    margin-bottom: 10px;
}

.more{
    font-family: LatoBlack;
    font-size: 14px;
}

.swipperContainer{
    width: 50%;
    padding: 0 25px;
    margin: 15px 0;
}

.carrousel{
    position: relative;
    height: 280px;
    width: 610px;
}

@media (max-width: 1000px) {
    
    .swipperContainer{
        height: 350px;
        width: 400px;
        padding: 0 20px;
    }
}


@media (max-width: 500px) {
    
    .container{
        display: flex;
        flex-direction: column;
    }

    .textContainer{
        margin: 1rem auto;
    }

    .swipperContainer{
        height: 250px;
        width: 300px;
        padding: 0 20px;
        margin: 15px auto ;
    }
}