.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--inverse-font-color);
    border-top: 3px solid var(--hard-brown);
    overflow: hidden;
    cursor:grab;
}

.carrousel{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.carrousel h3, .carrousel h4{
    padding: 0.5rem;
}

.image{
    height: 400px;
}

.imageContainer{
    position: relative;
    height: 100%;
    margin: 0.5rem;
}